body {
    background-color: rgb(243, 243, 243);
}
.content {
    font-family: 'Ubuntu', sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
}
header {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

h1 {
    font-size: 1.5rem;
    font-weight: 800;
}
h3 {
    font-size: 1rem;
    font-weight: 600;
}
p {
    font-family: 'Muli', sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 10px;
}
label {
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 10px;

}

table {
    line-height: 1.5;
    color: #212529;
    text-align: left;
    position: relative;
    padding: 3.5rem;
    border-collapse: collapse;
    background-color: white;
    width: 100%;
    margin-top: 20px;
}
tr#head {
    border-bottom: 3px solid rgb(214, 214, 214);
}
tr#thead {
    border-bottom: 0px;
}
tr {
    border-bottom: 2px solid rgb(214, 214, 214);
}

table tr#body:hover {
    background-color: rgb(187, 187, 187);
}
th {
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 10px;
}

#new-contact-form {
    line-height: 1.5;
    color: #212529;
    text-align: left;
    box-sizing: border-box;
    position: relative;
    border: solid #f8f9fa;
    padding: 1.5rem;
    margin-top: 50px;
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
    background-color: white;
}
input, textarea {
    font-size: 0.8rem;
    box-sizing: border-box;
    font-family: inherit;
    overflow: visible;
    display: block;
    width: 60%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
input:focus:valid {
    border: 2px solid #a3a7ac;
    outline: none;
}
button {
    box-sizing: border-box;
    margin: 0;
    font-family: inherit;
    overflow: visible;
    text-transform: none;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #2890ff;
    border-color: #007bff;
    cursor: pointer;
}